@media screen and (max-width: 1036px) {
	.inner{
        max-width: 900px;
        padding: 0 10px;
    }

}
 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
@media screen and (max-width: 750px) {
	p.firstname {
        font-size: 10vw;
        font-weight: 600;
        padding: 50px 0 40px;
    }
    .timer_title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .sp{
        display: block;
      }
      .des{text-align: justify;}
      .row {
        display: flex;
        padding: 0px;
    }
    .maintab {
        padding: 0;
    }
}


 
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }