html , body {
    cursor: url('../images/nor.png') 3 2, auto !important;
    background: #f9f9f9;
}
html a:hover, body a:hover {
    cursor: url('../images/hover.png') 3 2, auto !important
}

.inner{
    max-width: 1200px;
    margin: auto;
}

.timer{
    text-align: center;
}

p.firstname{
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    padding: 100px 0 60px;
}
.timer_title {
    font-size: 20px;
    font-weight: bold;
}
.timer_title span {
    font-size: 24px;
    font-weight: bold;
}